@media (min-width: 576px) {

	/*PRESENTATION*/
	.presentation__bg-img {
		display: block;
		width: 339px;
		height: 617px;
		background: url(../img/presentation-bg-iphone.png) no-repeat center center;
	}
}

@media (min-width: 768px) {

	/*HEADER*/
	.header {
		padding: 50px 0;
	}
	.header-content {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
			-ms-flex-direction: row;
				flex-direction: row;
	}
	.logo {
		margin: 0 8.2% 0 0;
	}
	.toggle-button {
		display: none;
	}
	.nav {
		display: block;
		margin: 0 auto 0 0;
		padding: 0;
		width: inherit;
		border-radius: 0;
		position: static;
		background-color: transparent;
	}
	.nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
		-ms-flex-flow: row;
			flex-flow: row;
	-webkit-box-align: start;
		-ms-flex-align: start;
			align-items: flex-start;
}
	.nav li {
		margin: 0 44px 0 0;
	}
	.social {
		margin: 0;
	}

	/*BANNER*/
	.banner {
		padding: 164px 0 179px 0;
	}
	.banner__h1 {
		font-size: 2.125rem;
	}
	.button-bord--iphone {
		margin: 0 20px 0 0;
	}
	.banner__link:last-child {
		margin: 0;
	}

	/*PARTNERS*/
	.logo-wrap {
		height: 100px;
	}

	/*PRESENTATION*/
	.presentation {
		padding: 90px 0 98px 0;
	}
	.presentation-text {
		padding: 0 0 0 30px;
	}
	.presentation__h1 {
		font: 600 2.125rem/1.352941176470588em "Open Sans", sans-serif;
	}
	.presentation li {
		font: 1rem/2.75em Arial, sans-serif;
		margin: 0;
	}
	.button-bord--video {
		margin: 0 41px 0 0;
	}
	.presentation a {
		margin: 0;
	}

	/*EMPLOYEES*/
	.employees {
		padding: 89px 0 99px 0;
	}

	/*JOIN*/
	.join {
		padding: 95px 0 101px 0;
	}

	/*FOOTER*/

	.footer {
		padding: 100px 0 103px 0;
	}
}

@media (min-width: 992px) {

	/*PRESENTATION*/
	.presentation__bg-img {
		display: block;
		width: 339px;
		height: 617px;
		background: url(../img/presentation-bg-iphone.png) no-repeat 97px -2px;
	}
}

@media (min-width: 1200px) {

}