@media (max-width: 1017px) {
	.header {margin: 0 35px 8px 0;}
}

@media (max-width: 768px) {

	/*HEADER*/

	.headTopCont {padding: 20px 50px 58px 50px;}

	.header {
		justify-content: center;
		margin: 0;
		flex-flow: column;
	}

	.header__logo {
		margin: 0 0 31px 0;
	}

	.header__nav {
		display: none;
	}

	select {
		width: 100%;
		text-align: center;
		text-align-last: center;
		background: #464646;
		padding: 5px;
		text-transform: uppercase;
		border: none;
		color: #fff;
		border-radius: 3px;
		box-shadow: 0 2px 4.75px 0.25px rgba(0, 0, 0, 0.25);
		font: 500 1.3rem Roboto, sans-serif;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	/*SECTION TOP*/

	.top {
		background: none;
		padding: 35px 0 0 0;
	}

	.top__h1 {
		font-size: 2.375rem;
	}

	.top__p {
		font-size: 1.1rem;
	}

	.slider {display: none;}

	/*SECTION_1*/

	.section_1Cont {padding: 100px 35px 130px 33px;}
	
	.section_h2--section_1 {
		margin: 0 auto 125px auto;
	}
	
	.inform {margin: 0 0 100px 0;}
}

@media (max-width: 480px) {
	.line-right:after, .line-left:after {display: none;}
}